<h1>
  <strong>Title:</strong>
  <%= @event.title%>
</h1>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @event.creator.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

